<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sunshinelibrary.turtle"
          android:versionCode="8"
          android:versionName="0.0.8">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permision.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:name=".TurtleApplication"
                 android:largeHeap="true">
        <receiver android:name=".SyncTriggerReceiver">
s            <intent-filter>
                <action android:name="org.sunlib.turtle.action.DO_SYNC"/>
                <action android:name="org.sunlib.turtle.action.COMPLETE_SYNC"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".webservice.RestletWebService"/>
        <service android:name=".syncservice.AppSyncService"/>
        <service android:name=".init.InitService"
                 android:exported="true">
            <intent-filter>
                <action android:name="org.sunshinelibrary.turtle.service"/>
            </intent-filter>
        </service>

        <activity android:name=".reader.PdfActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <data android:scheme="pdf"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
